<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}">
    <title>Blog</title>
</head>
    <body>
        <!-- Navigation-->
        <!-- 추후 개발 -->
        <!-- Page Header-->
        <!-- 추후 개발 -->

        <!-- Main Content-->
        <hr>

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                {% for p in post_list %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                                <a href="{{ p.get_absolute_url }}">
                                    {% if p.head_image %}
                                    <a href="#!"><img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p.title }}" style="width: 100%; height: 350px; object-fit: cover;" /></a>
                                    {% else %}
                                    <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/200/300" alt="{{ p.title }}" style="width: 100%; height: 350px; margin: 0 auto; display: block;"/></a>
                                    {% endif %}
                                </a>
                            <div class="card-body">
                                <div class="small text-muted">{{ p.created_at|date:"F j, Y" }}</div>
                                <h2 class="card-title h4">{{ p.title }}</h2>
                                <p class="card-text">{{ p.content|truncatewords:30 }}</p>
                                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Footer-->
        <!-- 추후 개발 -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>